@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@200&family=Roboto&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Bebas Neue", sans-serif;
}

.background--image{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.navbar--base{
    width: 55%;
    padding: 0.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    color: #202A44;
    align-items: center;
}

.navbar--base > div > ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    font-family: sans-serif;
    font-size: .8rem;
    font-style: italic;
    font-weight: 700;
}

.navbar--base > div > ul > li > a{
    border-bottom: 2px #202A44 solid;
    cursor: pointer;
    color: inherit;
    text-decoration: none
}

#section_one{
    background-image: url('./img/background.jpg');
}

#title_container{
    position: relative;
    top: 10em;
    margin-right: 2rem;
}

.title--h1{
    color: #525252;
    letter-spacing: 2px;
    width: fit-content;
    margin: auto;
}

.font--size--big{
    font-size: 6rem;
}

.title--h1:nth-child(2){
    position: relative;
    bottom: .5em;
    color: #202A44 !important;
}

/*
    --------------------------------------
                 Section 2
    --------------------------------------
*/

#section_two{
    background-image: url('./img/sectionTwo.jpg');
}

.icon--title{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 0.5rem;
    align-items: center;
}

.icon--style{
    border-radius: 25px;
}

.nav--container{
    background-color: #687c9f;
}

.title--h1-icon{
    position: relative;
    top: 3px;
    margin: 0;
}

.history--container{
    width: 50%;
    margin: 2rem auto;
    position: relative;
}

.history--container > h1:nth-child(1){
    font-size: 6rem;
    color: #687c9f96;
}

.history--container > h1:nth-child(1)::after{
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 3px;
    background-color: #687c9f96;
}

.history--container > h1:nth-child(2){
    position: absolute;
    left: 80px;
    top: 45px;
}

.history--container > p {
    display: block;
    width: 80%;
    margin: auto;
}

/*
    --------------------------------------
                 Section 3
    --------------------------------------
*/

.carousel--container{
    background-color: #202a44a6;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.sub--container{
    width: 35%;
    margin: auto;
    /* min-width: 230px; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.sub--container > img{
    width: 15vw;
    min-width: 165px;
}

.sub--container > div{
    position: absolute;
    bottom: 0px;
}

.sub--container > div > button{
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: solid 1px black;
}

.selected--btn{
    background-color: darkgrey !important;
}



#image2{
    right: 17%;
    bottom: 12%;
    position: absolute;
}

#image3{
    left: 17%;
    bottom: 0px;
    position: absolute;
}

#image4{
    left: 0px;
    bottom: 12%;
    position: absolute;
}

/*
    --------------------------------------
                 Section 4
    --------------------------------------
*/

.background--image1{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    background-image: url('./img/toggle1.jpg');
}

.background--image2{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    background-image: url('./img/toggle2.jpg');
}

.climb--container{
    width: 30%;
    position: relative;
}

.climb--container > h1:nth-child(1){
    font-size: 6rem;
    color: #10234452;

}

.climb--container > h1:nth-child(1)::after{
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 3px;
    background-color: #10234452;
}

.climb--container > h1:nth-child(2){
    position: absolute;
    left: 80px;
    top: 45px;
}

.climb--main > p {
    display: block;
    width: 65%;
    margin: auto;
    padding-left: 1em;
}

.climb--main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: auto;
    min-width: 355px;
}

.navbar--climb{
    background-color: #202a44c2;
}

.navbar--climb--container{
    width: 50%;
    margin: 0 auto;
    display: flex;
    column-gap: 30px;
    color: white;
}

.navbar--climb--container > ul{
    text-decoration: none;
    font-size: 2rem;
    list-style: none;
    color: white;
    display: flex;
    column-gap: 30px;
    position: relative;
    align-items: center;
    cursor: pointer;
}

.selected{
    transform: scale(1.2);
    padding: 0.2rem;
    background: gray;
    margin: 0px;
}

.table{
    background-color: #ffffffba;
    position: absolute;
    top: 40%;
    left: 20%;
    padding: 1.5rem;
    width: 20%;
    min-width: 300px;
    font-family: sans-serif;
    font-size: .8rem;
}

.table > h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2rem;
}

.table > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.table1 > div:nth-child(2){
    padding: 1rem 0;
}

.table2 > div:nth-child(2),.table2 > div:nth-child(5), .table1 > div:nth-child(5){
    padding: 1rem 0;
}

/*
    --------------------------------------
                FOOTER
    --------------------------------------
*/

.footer--container{
    background-color: #152238;
    color: #2e3c60;
}

.footer--icon{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    position: relative;
}

.footer--icon > img{
    border-radius: 20px;
}

.footer--icon > div{
    position: relative;
    top: 0.3rem;
    left: 0.5rem;
}

.adjust-mountain{
    position: relative;
    bottom: 0.5em;
}

.footer--subcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;
}

/*
    --------------------------------------
                Helpers
    --------------------------------------
*/

.show--accordion--function1{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 80vh;
    position: relative;
    background-image: url('./img/toggle1.jpg');

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.show--accordion--function2{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 80vh;
    position: relative;
    background-image: url('./img/toggle2.jpg');

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.hide--accordion{
    display: none;
}

@media screen and (max-width: 800px) {

    .table {
        width: 40%;
    }
}

@media screen and (max-width: 550px) {
    .navbar--base {
        width: 100%;
    }

}


@media screen and (max-width: 450px) {

    .navbar--climb{
      background-color: transparent;
    }

    .navbar--climb--container > ul {
        flex-direction: column;
        background-color: #202a44c2;
        align-items: flex-start;
        width: 100%;
    }

    .navbar--climb--container {
        width: 100%;
        justify-content: center;
    }

    .selected {
        transform:none;
        padding: 0.2rem;
        background: gray;
        margin: 0px;
        width: 100%;
    }

    .table {
        background-color: #ffffffba;
        top: 40%;
        position: static;
        left: 20%;
        padding: 1.5rem;
        width: 90%;
        min-width: 100px;
        font-family: sans-serif;
        font-size: .8rem;
        color: black;
    }

    .history--container {
        width: 70%;
    }

    .history--container > p {
        width: 100%;
    }

    .font--size--big {
        font-size: 4rem;
    }

    .footer--subcontainer {
        width: 100%;
    }

}

@media screen and (max-width: 450px) {
    .climb--container > h1:nth-child(1) {
        font-size: 5rem;
    }

    .climb--main {
        flex-direction: column;
    }

    .climb--container > h1:nth-child(2) {
        left: 70px;
        top: 35px;
    }
}

@media screen and (max-width: 380px) {
    .climb--main {
        min-width: 0;
        width: 100%;
    }

    #title_container {
        margin-right: 0px;
    }
}

@media screen and (max-width: 300px) {
    .font--size--big {
        font-size: 3rem;
    }

    .title--h1 {
        letter-spacing: 0px;
    }

    .icon--title {
        column-gap: 0.2rem;
    }

    .climb--container {
        width: 60%;
    }

    .navbar--base {
        flex-direction: column;
    }

    .footer--subcontainer {
        flex-direction: column;
    }
}
